:root {
    --box: 280px;
	--box_2: calc(100vh - calc(var(--box) + var(--box)));
}

body {
    --ratio: 360 / 640; 
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.box{
    background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1862&q=80");
    height: 100vh;
    width: calc(80vw * var(--ratio));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text, .opacity, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    font-size: 60px;
    gap: 15px;
    font-family: 'Norse';
}

.opacity{
    margin: none;
    margin-top: calc(50vh * var(--ratio));
    background: rgba(0, 0, 0, 0.5);
    height: 200px;
    width: calc(80vw * var(--ratio));
}

img {
    height: 100px;
    width: 90px;
}

footer {
    color: white;
    font-size: 12px;
    margin-top: 460px;
}

.box_1, .box_3 {
    background: rgba(203, 203, 230, 0.5);
    height: var(--box);
    width: calc(100vw * var(--ratio));
}

.box_2 {
    background: rgb(139, 170, 132);
    height: var(--box_2);
    width: calc(100vw * var(--ratio));
}

p {
    margin: 0;
}